<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Animation de Menu avec GreenSock + Jquery

    link(rel="stylesheet", href="index.css")

  body
    header
      nav
        .hamburger
          .line
          .line
          .line
      .wrapper__title
        h1 Codwerk

      .menu
        ul
          li
            a(href="") Accueil
          li
            a(href="") Notre équipe
          li
            a(href="") Nos projets
          li
            a(href="") Contact
    
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js")
    script(src="index.js")